* {
    margin: 0;
    padding: 0;
}

nav{
    background-color: black;
    width: 100%;
    height: 50px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}


h1{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    padding-left: 3%;
    display:flex;
    justify-content: center;
    align-items: center;   
}

#filter{
    padding-right: 1%;
    gap: 10px;
    display:flex;
    height: 30px;
    border-radius: 2px;
}

#allfilter, #womenfilter, #menfilter, #genderlessfilter, #unknownfilter{
  padding-left: 2px;
  padding-right: 2px;
}

#firstWebPage, #previousPageWeb, #nextWebPage, #lastPageWeb{
    padding-left: 12px;
    padding-right: 12px;
}

#idCharacter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-top: 5px;
}

.boxOne {
    border: 2px solid grey;
    border-radius: 2px;
    margin: 15px;
    box-shadow: 10px 10px 33px -20px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 33px -20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 33px -20px rgba(0, 0, 0, 0.75);
}    
    
.boxOne:hover {
    box-shadow: 6px 6px 20px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 6px 6px 20px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 6px 20px -1px rgba(0, 0, 0, 0.75);
}

.viewPlus, .figure{
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

h5{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  padding-top: 1%;
  padding-left: 1%;
}

#actualPage, #totalPage{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100px;
}

.point {
    height: 50px;
    width: 40px;
}

.goUp {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .goUp:hover {
    background-color: #2980b9;
  }


footer{
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;    
}

@media screen and (max-width: 600px) {
    h1 {
      font-size: 18px;
    }
  
    p {
      font-size: 14px;
    }
  }

  @media screen and (max-width: 400px) {
    h1 {
      font-size: 14px;
    }

    p {
      font-size: 13px;
    }
}

